/* Code Blocks Text */
.post-content pre code {
    color: #1F1F1F;
}
.dark .post-content pre code {
    color: #C4C4C5;
}

/* Gneneral Text */
.first-entry .entry-header h1 {
    font-size: 34px;
}
.first-entry .entry-content {
    font-size: 18px;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", SFMono-Regular, monospace, "Courier New";
}
.post-content {
    text-align: justify;
}
::selection {
    background: #FFD2D8;
    color: #2e2e2e;
}
.dark ::selection {
    background: #FFD2D8;
    color: #2e2e2e;
}
.share-buttons {
    background: none;
    border: none;
}
h1, h2, h3 {
    text-align: left;
}
mark {
    color: #1F1F1F;
    margin: 0 -.4em;
    padding: 0 .4em;
    border-radius: .8em .3em;
    background: 0 0;
    background-image: linear-gradient(to right,
        rgba(179, 233, 237,0.15),
        rgba(179, 233, 237, 0.65) 4%,
        rgba(179, 233, 237,0.25),
        rgba(179, 233, 237,0.25) 98%,
        rgba(179, 233, 237,0.8) 100%
    );
}
.dark mark {
    color: #C4C4C5;
    margin: 0 -.4em;
    padding: 0 .4em;
    border-radius: .8em .3em;
    background: 0 0;
    background-image: linear-gradient(to right,
        rgba(70, 147, 154,0.15),
        rgba(70, 147, 154, 0.65) 4%,
        rgba(70, 147, 154,0.25),
        rgba(70, 147, 154,0.25) 98%,
        rgba(70, 147, 154,0.8) 100%
    );
}
