:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 84px;
  --footer-height: 60px;
  --radius: 4px;
  --theme: #f2f2f2;
  --entry: #f2f2f2;
  --primary: #2e2e2e;
  --secondary: #2e2e2e;
  --tertiary: #f2f2f2;
  --content: #1F1F1F;
  --hljs-bg: #e1e1e1;
  --code-bg: #e1e1e1;
  --border: #cfcfcf;
}

.dark {
  --theme: #1a1e24;
  --entry: #1f232a;
  --primary: #a8adb9;
  --secondary: #a8adb9;
  --tertiary: #1a1e24;
  --content: #a8adb9;
  --hljs-bg: #1f232a;
  --code-bg: #1f232a;
  --border: #16191e;
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}
